.blog-articles {
  display: grid;
  grid-gap: 1rem;
  column-gap: var(--grid-mobile-horizontal-spacing);
  row-gap: var(--grid-mobile-vertical-spacing);
}
.blog-articles .card-wrapper {
  width: 100%;
}
@media screen and (min-width: 750px) {
  .blog-articles {
    grid-template-columns: 1fr 1fr;
    column-gap: var(--grid-desktop-horizontal-spacing);
    row-gap: var(--grid-desktop-vertical-spacing);
  }
  .blog-articles--collage .blog-articles__article {
    grid-column: span 2;
    text-align: center;
  }
  .blog-articles--collage .blog-articles__article .card {
    text-align: center;
  }
}

.blog-main__wrap {
  display: flex;
  gap: 80px;
}
.blog-articles.blog-articles--collage {
  width: 75%;
}
.blog-side__container {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.blog-side__subcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
  background: #F6F6F6;
}
.blog-side__heading {
  border-bottom: 1px solid #E83647;
  width: 100%;
  padding-bottom: 12px;
}
.blog-tag__tag {
  position: relative;
  line-height: 0;
}
.blog-tag__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 24px;
}
.blog-tag {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  font-size: 11px;
}
.small-article__card-image {
  max-width: 73px;
}
.small-article__card-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.small-article__card-wrap {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  padding: 16px 0 8px 0;
  border-bottom: 1px solid #898989;
}
.blog-trending__container.blog-side__subcontainer {
  background: #D9D9D9;
}
.small-article__info-title {
  color: #000;
  font-size: 15px;
}
.small-article__info-date {
  color: #999;
  font-size: 11px;
}
.small-article__info-author {
  color: #000;
  font-size: 11px;
}
.small-article__info-desc {
  color: #999;
  font-size: 11px;
}
.small-article__info-readmore {
  font-size: 11px;
  color: #000;
}
.blog-author__by {
  color: #999;
  font-size: 11px;
}
.blog-subscribe__form-input input[type="email"] {
  width: 100%;
  padding: 11px 13px;
  font-size: 15px;
  margin-top: 15px;
}
.blog-subscribe__form-button button {
  padding: 12px 15px;
  background: #363757;
  color: #fff;
  border: navajowhite;
  margin-top: 15px;
}
.blog-subscribe__container.blog-side__subcontainer {
  background: #D9D9D9;
}
.blog-subscribe__form {
  margin-top: 24px;
}
@media screen and (max-width: 750px) {
  .blog-articles.blog-articles--collage {
    width: 100%;
  }
  .blog-side__container {
    width: 100%;
  }
  .blog-side__container {
    gap: 24px;
  }
  .blog-main__wrap {
    gap: 24px;
    flex-direction: column;
  }
}