.haute-red-red{
    color: #A11D33;
}
.blue-atoll-blue{
    color: #29335C;
}
.navy-blazer-blue{
    color: #A37BC7;
}
.directoire-blue-blue{
    color: #6E8CA0;
}
.mosstone-green{
    color: #345932;
}
.azalea-pink-pink{
    color: #D4A9CB;
}
.atomizer-blue{
    color: #4D5A6B;
}
.omphalodes-blue{
    color: #4B5043;
}
.deep-lichen-green-green{
    color: #7D3E3E;
}
.pink-pink{
    color: #515F76;
}
.dark-denim-blue{
    color: #495A5A;
}
.vintage-grey-heather-grey{
    color: #6E2C3E;
}
.bright-white-white{
    color: #7E6C5A;
}
.caribbean-sea-blue{
    color: #7C5E8A;
}
.tigers-eye-brown{
    color: #D0D3D4;
}
.forest-night-green{
    color: #725E54;
}
.marshmallow-white{
    color: #5E637A;
}
.biking-red-red{
    color: #535353;
}
.army-green-green{
    color: #92A8AC;
}
.china-blue-blue{
    color: #6C7A6D;
}
.ebony-grey{
    color: #D7B17B;
}
.legion-blue-blue{
    color: #3F5E76;
}
.windsor-wine-red{
    color: #434857;
}
.insignia-blue-blue{
    color: #E6C364;
}
.ivy-green-green{
    color: #E2AB60;
}
.acai-purple{
    color: #315F74;
}
.high-rise-grey{
    color: #DFC184;
}
.tobacco-brown-brown{
    color: #6C798E;
}
.quiet-shade-grey{
    color: #485A68;
}
.navy-blazer-yellow-dhm-blue{
    color: #38505B;
}
.castlerock-grey{
    color: #4C5863;
}
.tango-red-red{
    color: #D0B285;
}
.wasabi-green{
    color: #7B9CA7;
}
.ivy-green{
    color: #5B6E7A;
}
.parisian-blue-blue{
    color: #D6A77D;
}
.popcorn-yellow{
    color: #A34D45;
}
.blue-heaven-blue{
    color: #5B7355;
}
.blue-print-blue{
    color: #506D59;
}
.snapdragon-yellow{
    color: #405A4F;
}
.rinse-wash-blue{
    color: N/A;
}
.mid-wash-blue{
    color: #8198A2;
}
.light-grey-marl-grey{
    color: #D9D9D9;
}
.tawny-olive-yellow{
    color: #F2F2F2;
}
.true-blue-blue{
    color: #809BB7;
}
.apricot-orange{
    color: #7C90A6;
}
.golden-yellow-yellow{
    color: #6E7C8E;
}
.spring-bud-green{
    color: #3D4D5C;
}
.orchid-pink-marl-pink{
    color: #D6D7D9;
}
.blue-bell-blue{
    color: #E8E9EB;
}
.classic-blue-blue{
    color: #3E5E74;
}
.tan-beige{
    color: #D0A2A3;
}
.blue-coral-blue{
    color: #B3BDC3;
}
.estate-blue-blue{
    color: #A3B3BC;
}
.iced-coffee-brown{
    color: #506A75;
}
.atomizer-marl-blue{
    color: #60A0B0;
}
.peacock-blue-blue{
    color: #D2D6CA;
}
.montana-grape-purple{
    color: #4B778D;
}
.orchid-pink-pink{
    color: #F1CE6B;
}
.cranberry-red{
    color: N/A;
}
.black-wash-black{
    color: #29647F;
}
.dark-wash-blue{
    color: N/A;
}
.burnt-olive-green{
    color: #5C7B89;
}
.ketchup-red{
    color: #95596E;
}
.parisian-blue-marl-blue{
    color: #4D5662;
}
.golf-green-green{
    color: #3F4759;
}
.safari-brown{
    color: #7B4645;
}
.dark-vintage-wash-blue{
    color: #42505C;
}
.navy-blazer-haute-red-navy{
    color: #D9DADB;
}
.legion-blue-spring-lake-dhm-blue{
    color: #E2E2DA;
}
.ponderosa-pine-green{
    color: #525D6D;
}
.black-steeple-grey-dhm-black{
    color: #597B88;
}
.black-charcoal-dhm-black{
    color: #95B390;
}
.set-sail-marl-blue{
    color: #DDDA92;
}
.dark-sapphire-navy-haute-red-dhm-blue{
    color: #5C4E63;
}
.black-bright-white-dhm-black{
    color: #DAD6CB;
}
.mid-grey-marl-grey{
    color: N/A;
}
.black-marshmallow-black{
    color: #6096AB;
}
.white-white{
    color: #C3D3DB;
}
.skyway-blue{
    color: #A4A5A7;
}
.chalk-pink-pink{
    color: #E3D1C8;
}
.ponderosa-pine-marl-green{
    color: #F2EDDE;
}
.dark-sapphire-navy-blue{
    color: #6795A1;
}
.tofu-brown{
    color: #D0B9BD;
}
.greige-navy-blazer-blue{
    color: #A2B3C1;
}
.white-alyssum-white{
    color: #55626F;
}




.haute-red {
    background: #ff0000;
}
.blue-atoll {
    background: #0000ff;
}
.black {
    background: #000000;
}
.navy-blazer {
    background: #0000ff;
}
.directoire-blue {
    background: #0000ff;
}
.mosstone {
    background: #00ff00;
}
.azalea-pink {
    background: #FFC0CB;
}
.atomizer {
    background: #0000ff;
}
.omphalodes {
    background: #0000ff;
}
.deep-lichen-green {
    background: #00ff00;
}
.pink {
    background: #FFC0CB;
}
.dark-denim {
    background: #0000ff;
}
.vintage-grey-heather {
    background: #808080;
}
.bright-white {
    background: #ffffff;
}
.caribbean-sea {
    background: #0000ff;
}
.tigers-eye {
    background: #964B00;
}
.forest-night {
    background: #00ff00;
}
.marshmallow {
    background: #ffffff;
}
.biking-red {
    background: #ff0000;
}
.army-green {
    background: #00ff00;
}
.china-blue {
    background: #0000ff;
}
.ebony {
    background: #808080;
}
.legion-blue {
    background: #0000ff;
}
.windsor-wine {
    background: #ff0000;
}
.insignia-blue {
    background: #0000ff;
}
.ivy-green {
    background: #00ff00;
}
.acai {
    background: #9900ff;
}
.high-rise {
    background: #808080;
}
.tobacco-brown {
    background: #964B00;
}
.quiet-shade {
    background: #808080;
}
.navy-blazer-yellow-dhm {
    background: #0000ff;
}
.castlerock {
    background: #808080;
}
.tango-red {
    background: #ff0000;
}
.wasabi {
    background: #00ff00;
}
.ivy {
    background: #00ff00;
}
.parisian-blue {
    background: #0000ff;
}
.popcorn {
    background: #ffff00;
}
.blue-heaven {
    background: #0000ff;
}
.charcoal-grey-marl {
    background: #808080;
}
.blue-print {
    background: #0000ff;
}
.snapdragon {
    background: #ffff00;
}
.rinse-wash {
    background: #0000ff;
}
.mid-wash {
    background: #0000ff;
}
.light-grey-marl {
    background: #808080;
}
.tawny-olive {
    background: #ffff00;
}
.true-blue {
    background: #0000ff;
}
.apricot {
    background: #ff9900;
}
.golden-yellow {
    background: #ffff00;
}
.spring-bud {
    background: #00ff00;
}
.orchid-pink-marl {
    background: #FFC0CB;
}
.blue-bell {
    background: #0000ff;
}
.classic-blue {
    background: #0000ff;
}
.tan {
    background: #F5F5DC;
}
.blue-coral {
    background: #0000ff;
}
.estate-blue {
    background: #0000ff;
}
.iced-coffee {
    background: #964B00;
}
.atomizer-marl {
    background: #0000ff;
}
.peacock-blue {
    background: #0000ff;
}
.montana-grape {
    background: #9900ff;
}
.orchid-pink {
    background: #FFC0CB;
}
.cranberry {
    background: #ff0000;
}
.black-wash {
    background: #000000;
}
.dark-wash {
    background: #0000ff;
}
.burnt-olive {
    background: #00ff00;
}
.ketchup {
    background: #ff0000;
}
.parisian-blue-marl {
    background: #0000ff;
}
.golf-green {
    background: #00ff00;
}
.safari {
    background: #964B00;
}
.dark-vintage-wash {
    background: #0000ff;
}
.navy-blazer-haute-red {
    background: #000080;
}
.legion-blue-spring-lake-dhm {
    background: #0000ff;
}
.ponderosa-pine {
    background: #00ff00;
}
.black-steeple-grey-dhm {
    background: #000000;
}
.black-charcoal-dhm {
    background: #000000;
}
.set-sail-marl {
    background: #0000ff;
}
.dark-sapphire-navy-haute-red-dhm {
    background: #0000ff;
}
.black-bright-white-dhm {
    background: #000000;
}
.mid-grey-marl {
    background: #808080;
}
.black-marshmallow {
    background: #000000;
}
.white {
    background: #ffffff;
}
.skyway {
    background: #0000ff;
}
.chalk-pink {
    background: #FFC0CB;
}
.ponderosa-pine-marl {
    background: #00ff00;
}
.dark-sapphire-navy {
    background: #0000ff;
}
.tofu {
    background: #964B00;
}
.greige-navy-blazer {
    background: #0000ff;
}
.white-alyssum {
    background: #ffffff;
}
.cashmere-blue {
    background: #0000ff;
}
.ethereal-blue {
    background: #0000ff;
}
.pastel-lilac {
    background: #9900ff;
}
.harbor-mist {
    background: #808080;
}
.moonlight-blue {
    background: #0000ff;
}
.dark-sapphire-navy-moonlight-blue-dhm {
    background: #0000ff;
}
.ice-water {
    background: #0000ff;
}
.moon-beam {
    background: #F5F5DC;
}
.deja-vu-blue {
    background: #0000ff;
}
.pink-a-boo {
    background: #FFC0CB;
}
.honey-dew {
    background: #00ff00;
}
.white-harbour-mist-dhm {
    background: #ffffff;
}
.white-dark-sapphire-navy-dhm {
    background: #ffffff;
}
.mineral-blue {
    background: #0000ff;
}
.blue-horizon {
    background: #0000ff;
}
.cornstalk {
    background: #F5F5DC;
}
.chambray-blue {
    background: #0000ff;
}
.french-oak {
    background: #964B00;
}
.water-ballet {
    background: #0000ff;
}
.sunset-gold {
    background: #ff9900;
}
.lush-meadow {
    background: #00ff00;
}
.sodalite-blue {
    background: #0000ff;
}
.tickled-pink {
    background: #FFC0CB;
}
.chalk-violet {
    background: #9900ff;
}
.raspberry-sorbet {
    background: #FFC0CB;
}
.dark-sapphire-navy-white-dhm {
    background: #0000ff;
}
.december-sky {
    background: #808080;
}
.black-marshmallow-dhm {
    background: #000000;
}
.granite-gray {
    background: #808080;
}
.tawny-port {
    background: #9900ff;
}
.total-eclipse {
    background: #0000ff;
}
.oyster-mushroom {
    background: #808080;
}
.birch-marl {
    background: #F5F5DC;
}
.dark-sapphire-navy-marl {
    background: #000080;
}
.blue-yonder {
    background: #0000ff;
}
.medium-wash {
    background: #0000ff;
}
.stargazer {
    background: #00ff00;
}
.classic-green {
    background: #00ff00;
}
.egret {
    background: #ffffff;
}
.yellow-pear {
    background: #ffff00;
}
.strawberry-moon {
    background: #ff0000;
}
.romance-rose {
    background: #FFC0CB;
}
.watermelon {
    background: #FFC0CB;
}
.windsurfer {
    background: #0000ff;
}
.blue-tint {
    background: #0000ff;
}
.pink-cosmos {
    background: #FFC0CB;
}
.medieval-blue {
    background: #0000ff;
}
.prairie-sunset {
    background: #FFC0CB;
}
.crystal-rose {
    background: #FFC0CB;
}
.turtle-dove {
    background: #ffffff;
}
.regatta-blue {
    background: #0000ff;
}
.navy-iris {
    background: #0000ff;
}
.ambrosia {
    background: #00ff00;
}
.blue-radiance {
    background: #0000ff;
}
.light-pink {
    background: #FFC0CB;
}
.navy {
    background: #0000ff;
}
.spiced-coral {
    background: #ff0000;
}
.prism-pink {
    background: #FFC0CB;
}
.aquarelle {
    background: #0000ff;
}
.caneel-bay {
    background: #0000ff;
}
.ultramarine-green {
    background: #00ff00;
}
.bachelor-button {
    background: #0000ff;
}
.scuba-blue {
    background: #0000ff;
}
.fluro-orange {
    background: #ff9900;
}
.nautical-blue {
    background: #0000ff;
}
.sharp-green {
    background: #00ff00;
}
.little-boy-blue {
    background: #0000ff;
}
.primrose-yellow {
    background: #ffff00;
}
.limelight {
    background: #ffff00;
}
.blue-glow {
    background: #0000ff;
}
.elfin-yellow {
    background: #ffff00;
}
.spun-sugar {
    background: #0000ff;
}
.grey-wash {
    background: #808080;
}
.set-sail {
    background: #0000ff;
}
.navy-blazer-red-dhm {
    background: #0000ff;
}
.pink-dogwood {
    background: #FFC0CB;
}
.morning-glory {
    background: #FFC0CB;
}
.pearl-grey-marl {
    background: #808080;
}
.peach-amber {
    background: #FFC0CB;
}
.silver-pink {
    background: #FFC0CB;
}
.star-white {
    background: #ffffff;
}
.black-rinse {
    background: #000000;
}
.vintage-wash {
    background: #0000ff;
}
.cameo-blue {
    background: #0000ff;
}
.affogat {
    background: #964B00;
}
.mock-orange {
    background: #ff9900;
}
.obsidian {
    background: #000000;
}
.arctic-ice {
    background: #ffffff;
}
.pureed-pumpkin {
    background: #ff0000;
}
.burro {
    background: #964B00;
}
.sesame {
    background: #964B00;
}
.pecan-brown {
    background: #964B00;
}
.maroon-banner {
    background: #ff0000;
}
.deep-teal {
    background: #00ff00;
}
.incense {
    background: #F5F5DC;
}
.island-green {
    background: #00ff00;
}