.custom-featured-product__container{
  display: flex;
	gap: 20px;
}

.custom-featured-product__image-block .media--square{
	padding-bottom: 133%;
}

.custom-featured-product__image-block img,
.custom-featured-product__image-block svg{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.custom-featured-product .splide__arrow--next {
  right: 0;
  width: 50px;
  height: 50px;
  opacity: 1;
  background-color: #d03c3f;
  border-radius: 50% 0 0 50%;
}

.custom-featured-product .splide__arrow svg {
  fill: #fff;
  height: 1.2em;
  width: 1.2em;
  z-index: 2;
}

.custom-featured-product .splide__arrow--prev {
  left: 0;
  width: 50px;
  height: 50px;
  opacity: 1;
  background-color: #d03c3f;
  border-radius: 0 50% 50% 0;
}

.custom-featured-product .splide__arrow--prev:disabled,
.custom-featured-product .splide__arrow--next:disabled {
  display: none;
}

.custom-featured-product .splide__arrow--prev::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, transparent 50%, #000 50%);
  background-size: 200% 100%;
  transition: background-position 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 0 50% 50% 0;
}
.custom-featured-product .splide__arrow--next:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0; 
  left: 0;
  background: linear-gradient(to right, transparent 50%, #000 50%);
  background-size: 200% 100%;
  transition: background-position 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 50% 0 0 50%;
}

.custom-featured-product .splide__arrow--prev:hover::before {
  background-position: -100% 0;
}

.custom-featured-product .splide__arrow--next:hover::before {
  background-position: -100% 0;
}

@media screen and (max-width:990px){
	.custom-featured-product__container .h1{
		font-size: calc(var(--font-heading-scale)* 18px);
	}
}


@media screen and (max-width:750px) {
	.custom-featured-product__container{
		flex-direction: column;
		gap: 10px;
	}
	.custom-featured-product__splider{
		width: 100%;
	}

	.custom-featured-product__image-block .media--square{
		padding-bottom: 45%;
	}
}